{% extends 'social/layout.html' %}
{% block content%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CONSULTA</title>

</head>

<style>
  table {
    border-collapse: separate;
    border-spacing: 2px;
    flex-wrap: wrap;

  }



  th,
  td {
    width: 2%;
    text-align: left;
    vertical-align: top;
    min-width: 1px;
    margin-bottom: 1px;
  }

  th {
    background: #fafafa;
  }

  td {
    background: #fafafa;
  }



  img {
    margin: auto;
    display: block;
    width: 6px;
    height: 1px;
  }

  body {
    background: white;
  }

</style>


<body>
  <main style="background-color: white;  height: 70em;">


    <div class="info">
      <center>
        <h1 class="titt"> CONSULTA DE DATOS PERSONAL</h1>
      </center>
      <center>
        <nav class="second-nav"></nav>
      </center>
      <center><a class="feed" href="{% url 'feed' %}">REGRESAR</a></center>

      </nav>

    </div>




    <center>
      <font size="2" face="times roman">
    </center>

    <center>
      <table class="table table-bordered" width="6px" height="6px" alt="" style="background-color: black;">
        <thead>
          <tr style="border: 99px solid black;">
            <font size="7" face="arial ">
              <center>
                <th>id</th>
              </center>
              <center>
                <th>id_propiedad</th>
              </center>

              <center>
                <th>tipo_propiedad</th>
              </center>

              <center>
                <th>ubicacion</th>
              </center>

              <center>
                <th>metros_cuadrados</th>
              </center>

              <center>
                <th>renta_o_venta</th>
              </center>

              <center>
                <th>precio</td>
              </center>

              <center>
                <th>n_habitaciones</th>
              </center>

              <center>
                <th>estado_habitaciones</th>
              </center>

              <center>
                <th>disponible</th>
              </center>
              <font>
          </tr>
        </thead>


        <center>
          <tbody>
            {% if posts %}
            {% for info in posts %}
            <tr>

              <center>
                <td>{{info.id}}</td>
              </center>
              <center>
                <td>{{info.id_propiedad}}</td>
              </center>
              <center>
                <td>{{info.tipo_propiedad}}</td>
              </center>
              <center>
                <td>{{info.ubicacion}}</td>
              </center>
              <center>
                <td>{{info.metros_cuadrados}}</td>
              </center>
              <center>
                <td>{{info.renta_o_venta}}</td>
              </center>
              <center>
                <td>{{info.precio}}</td>
              </center>
              <center>
                <td>{{info.n_habitaciones}}</td>
              </center>
              <center>
                <td>{{info.estado_habitaciones}}</td>
              </center>
              <center>
                <td>{{info.disponible}}</td>
              </center>



          </tbody>
        </center>
        {% endfor %}

        {% else %}

        <h1>NO HAY REGISTROS</h1>

        {% endif %}
  </main>
  </table>
  </center>


</body>
</center>

</html>
{% endblock %}
