{% extends 'social/layout.html' %}
{% load static%}

{% block content%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>consultas_carrito</title>
</head>
<style>
  body {
    text-align: center;

  }

  h1 {
    text-align: center;
    font-family: arial;

  }

  table {
    
    border-spacing: 5px;
    flex-wrap: wrap;
    font-family: Times New Roman;
    text-align: center;
    background-color: aqua;
  }

  tbody {
    text-align: center;
    font-family: arial;
  }

  main {
    text-align: center;
  }
</style>

<body>
  <a class="feed" href="{% url 'feed' %}">REGRESAR</a>
  <main>



    <div class="info">
      <h1 class="titt"> Consultas de datos de carrito</h1>
      <nav class="second-nav">


      </nav>

    </div>




    <center>
      <table class="table table-bordered">
        <thead>
          <tr >


            <th style="color: black ;">nombre del usuario</th>

            <th style="color: black ;">Nombre</th>

            <th style="color: black ;">Total</th>


          </tr>
        </thead>


        <tbody>
          {% for Producto in info %}
          <tr>

            <td>{{Producto.nombre}}</td>


        </tbody>
        {% endfor %}



  </main>
  </table>
  </center>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br> <br>
  <br>
  <br>
 
  <br>
  <br>
  <br>
  <br> <br>
  <br>
  
  <br>
  <br>
<div class="row mt-3 justify-content-center">
    <nav>
        <ul class="pagination horizontal-pagination" style="margin: 0; padding: 0;">
            {% if prueba.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">&lt;&lt; Primera</a> <!-- Enlace para ir a la primera página -->
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ prueba.previous_page_number }}">&laquo; Anterior</a>
            </li>
            {% endif %}
            {% for page in paginas %}
            <li class="page-item{% if pagina_actual == page %} active{% endif %}">
                <a class="page-link" href="?page={{ page }}">{{ page }}</a>
            </li>
            {% endfor %}
            {% if prueba.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ prueba.next_page_number }}">Siguiente &raquo;</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ prueba.paginator.num_pages }}">Última &gt;&gt;</a>
                <!-- Enlace para ir a la última página -->
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
</body>

</html>
{% endblock %}