{% extends 'social/layout.html' %}
{% load humanize %} 
{% load static %}
{% block content %}



    <div class="container-article">
        <img src="{% static 'img/1.png' %}">
        <div>
           </header> <i class="clock"></i>
            <time data-time="#">PRUEBA</time>
            <div class="post">HOLA BIENVENIDO</div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            
            <br><br>        
        </div>
    </div>

    
<style>
    .prueba{
        background-color: white;
    }
    body
    {
        background:white;
    }
   hr{
    background: white;
   }
 

    form {
        width: 120%;
max-width: 800px;
margin: 0 auto;

align-items: center;
}
</style>


{% endblock %}