<!DOCTYPE html>
{% load static %}
<html>

<head>
	<title>Prueba con Django</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{% static 'styles/normalize.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">


</head>

<body>
	<style>
		.footer {
			background: #f5EBf5;
			text-align: center;
			margin-top: auto;
			position: absolute;
			width: 100%;
		}
		a{
			color: black;
		}
	</style>
	<header>

		<nav class="main">
			<h1 id="logo"></h1>
			<ul>

				{% if request.user.is_authenticated %}


				<li><a href="{% url 'logout' %}">Logout</a></li>
				{% else %}

				<li><a href="{% url 'registro' %}">Registrar</a></li>

				<li><a href="{% url 'login' %}">Login</a></li>


				{% endif %}

			</ul>
		</nav>
	</header>



	{% if messages %}
	{% for message in messages %}
	<div class="notification {{ message.tags}}">
		{{ message }}
	</div>
	{% endfor %}
	{% endif %}

	<!-------------------------------------
					Navigation Bar 
	-------------------------------------->
	<div>

		<nav class="second-nav">
			{% if request.user.is_authenticated %}

			{% if user.is_superuser == True %}


			<a class="feed" href="{% url 'feed' %}">Inicio</a>

			<a class="profile" href="{% url 'perfil' %}">Mi Perfil</a>

			<a class="new" href="{% url 'prueba' %}">Prueba</a>

			<a class="new" href="{% url 'contacto' %}">datos</a>


			{% else %}
			<a class="new" href="{% url 'carrusel' %}">carrusel</a>
			
			<a class="new" href="{% url 'contacto' %}">contacto</a>

			<a class="new" href="{% url 'consul' %}">consulta</a>

			<a class="new" href="{% url 'ema' %}">email</a>

			<a class="new" href="{% url 'tienda' %}">Tienda</a>

			

			{% endif %}
			{% else %}
			{% endif %}

		</nav>


		{% block content %}




		{% endblock content %}



	</div>

	<footer class="footer text-faded text-center py-5">
		<div class="container">
			<p class="m-0">
				<a href="#" class="link">
					<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
					</span>
				</a>
				<a href="#" class="link">
					<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
					</span>
				</a>
				<a href="#" class="link">
					<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			</p>
			<a href="{% url 'ema' %}">
				<center> <button type="button" >Contactanos</button>
				</center>
			</a>

			<p class="m-0 mbt">
				<center>
					<font>
		
						<a href="sample.html" class="link">   Luis</a>  ·
					<a href="sample.html" class="link">   Aviso legal   </a> ·
						<a href="sample.html" class="link">   Cookies   </a> ·
					</font>
				</center>

			</p>
			<p class="m-0 mbt1">&copy; luis</p>
		</div>
	</footer>
</body>


</html>